<div class="card-body">
  <h6 class="card-title">Friends</h6>

  <div *ngFor="let profile of profiles, let i = index" class="d-flex justify-content-between mb-2 align-items-center pb-2 border-bottom">
    <div class="d-flex align-items-center hover-pointer">
      <img
        class="img-xs rounded-circle"
        [src]="i % 3 === 0 ? 'https://bootdey.com/img/Content/avatar/avatar1.png' : i % 3 === 1 ? 'https://bootdey.com/img/Content/avatar/avatar2.png' : 'https://bootdey.com/img/Content/avatar/avatar3.png' "
        alt=""
      />
      <div class="ml-2 mt-3">
        <p>{{ profile.firstname }}</p>
      </div>
    </div>
  </div>

</div>
