<div class="card-body">
  <h6 class="card-title">Friends</h6>
  <div class="latest-photos">
    <div class="row">
      <div class="col-md-4">
        <figure>
          <img
            class="img-fluid"
            src="https://bootdey.com/img/Content/avatar/avatar1.png"
            alt=""
          />
          <h6>Yassine</h6>
        </figure>
      </div>
      <div class="col-md-4">
        <figure>
          <img
            class="img-fluid"
            src="https://bootdey.com/img/Content/avatar/avatar2.png"
            alt=""
          />
          <h6>Nabil</h6>
        </figure>
      </div>
      <div class="col-md-4">
        <figure>
          <img
            class="img-fluid"
            src="https://bootdey.com/img/Content/avatar/avatar3.png"
            alt=""
          />
          <h6>Chaimaa</h6>
        </figure>
      </div>
      <div class="col-md-4">
        <figure>
          <img
            class="img-fluid"
            src="https://bootdey.com/img/Content/avatar/avatar4.png"
            alt=""
          />
          <h6>Ilham</h6>
        </figure>
      </div>
      <div class="col-md-4">
        <figure>
          <img
            class="img-fluid"
            src="https://bootdey.com/img/Content/avatar/avatar5.png"
            alt=""
          />
          <h6>Meriam</h6>
        </figure>
      </div>
      <div class="col-md-4">
        <figure>
          <img
            class="img-fluid"
            src="https://bootdey.com/img/Content/avatar/avatar6.png"
            alt=""
          />
          <h6>Ikram</h6>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="mb-0">
          <img
            class="img-fluid"
            src="https://bootdey.com/img/Content/avatar/avatar7.png"
            alt=""
          />
          <h6>fati</h6>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="mb-0">
          <img
            class="img-fluid"
            src="https://bootdey.com/img/Content/avatar/avatar8.png"
            alt=""
          />
          <h6>Moona</h6>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="mb-0">
          <img
            class="img-fluid"
            src="https://bootdey.com/img/Content/avatar/avatar9.png"
            alt=""
          />
        </figure>
      </div>
    </div>
  </div>
</div>
