<div class="panel panel-default">
  <form [formGroup]="createPost" (ngSubmit)="onSubmit(createPost)">
    <div class="panel-body">
      <input
        type="text"
        formControlName="body"
        class="form-control"
        placeholder="What are you doing now?"
      />
    </div>
    <div class="panel-footer mt-2">
      <div class="btn-group">
        <input
          type="file"
          class="btn btn-link"
          (change)="onImagePicked($event)"
        />
        <!-- <i class="fa fa-camera"></i> -->
      </div>

      <div class="pull-right">
        <button type="submit" class="btn btn-success">submit</button>
      </div>
    </div>
  </form>
</div>
