<div class="container">
  <div class="profile-page tx-13">
    <div class="row">
      <div class="col-12 grid-margin">
        <app-header></app-header>
      </div>
    </div>
    <div class="row profile-body">
      <!-- middle wrapper start -->
      <div class="col-md-10 col-xl-8 middle-wrapper">
        <div class="card rounded mb-2">
          <div class="card-body">
            <app-add-post></app-add-post>
          </div>
        </div>

        <!-- Post -->
        <app-post></app-post>
        <app-post></app-post>
        <app-post></app-post>
        <router-outlet></router-outlet>
      </div>
      <!-- middle wrapper end -->

      <!-- right wrapper start -->
      <div class="d-none d-xl-block col-xl-4 right-wrapper">
        <app-sidebar></app-sidebar>
      </div>
      <!-- right wrapper end -->
    </div>
  </div>
</div>
