<div class="reaction-icons">
    <!-- Like -->
    <span class="reaction-icon" (click)="selectReaction('like')">
       <img src="assets/svg/like.svg" alt="like"/>
    </span>
    <!-- wow -->
    <span class="reaction-icon" (click)="selectReaction('wow')">
      <img src="assets/svg/wow.svg" alt="wow"/>
    </span>
          <!-- Love -->
          <span class="reaction-icon" (click)="selectReaction('love')">
            <img src="assets/svg/love.svg" alt="love"/>

               </span>
    <!-- Angry -->

    <span class="reaction-icon" (click)="selectReaction('angry')">
      <img src="assets/svg/angry.svg" alt="angry"/>
    </span>
    <!-- HAHAHA -->
    <span class="reaction-icon" (click)="selectReaction('haha')">
      <img src="assets/svg/hahaha.svg" alt="hahaha"/>
    </span>

    <!-- Sad -->
    <span class="reaction-icon" (click)="selectReaction('sad')">
      <img src="assets/svg/sad.svg" alt="Sad"/>
    </span>
    <!-- dislike -->
    <span class="reaction-icon" (click)="selectReaction('dislike')">
      <img src="assets/svg/dislike.svg" alt="dislike"/>
    </span>


  </div>