<div class="btn-group " style="width: 100%;">

    
  <button class="btn col-4 d-flex"  (click)="toggleReactionIcons()">
    <div [@toggleReactionIcons]="showReactionIcons ? 'show' : 'hide'"><app-reaction-icons *ngIf="showReactionIcons"  (reactionSelected)="handleReaction($event)"></app-reaction-icons></div>
    <!-- <i class="fa fa-thumbs-up" ></i>  -->
    <div class="d-flex align-items-center " (click)="toggleReactionIcons()" ><img class="mr-n5 mt-2"  height="20px" [src]="'assets/svg/' + reaction + '.svg'" alt="{{ reaction }}"(click)="toggleReactionIcons()"/><span (click)="toggleReactionIcons()" style="width:200px;"  [ngStyle]="{ color: reactionColor }">{{reaction}}</span></div>

  </button>
  <button class="btn btn-white btn-xs col-4" (click)="onCommentButtonClick()" [ngStyle]="{ color: commentColor?'gray':'black'}">
    <i class="fa fa-comments"></i><span class="ml-2">Comment</span> 
  </button>
  <button class="btn btn-white btn-xs col-4" [ngStyle]="{ color: shared?'blue':'black'}" (click)="sharePost()">
    <i class="fa fa-share"></i> Share
  </button>
</div>
